/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea/
.shadow-cljs/
.serverless/
node_modules/
package-lock.json
cljs-runtime/
main.js
manifest.edn
queue_tmp
.DS_Store
Pipfile.lock
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
